<ion-content>
  <nb-layout center class="own-scroll">
    <nb-layout-header fixed>
      <nb-actions>
        <nb-action routerLink="/home" class="text-white"><i class="fas fa-apple-alt icon_1"></i></nb-action>
      </nb-actions>
    </nb-layout-header>
    <nb-layout-column class="p-0">
      <div class="row">
        <div class="col-sm-12">
          <nb-card style="background-image: linear-gradient(135deg, #79F1A4 0%, #0E5CAD 100%);">
            <nb-card-body class="pt-4 mt-4 mb-4">
              <h4 class="text-center font_1 text-white">Food High Club</h4>
              <h6 class="font_1 text-center text-white pt-2 mb-4">About Us</h6>
            </nb-card-body>
          </nb-card>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <nb-card>
            <nb-card-body class="pt-4 mt-4 mb-4">
              <h6 class="font_2 text-white p-2" style="line-height:33px">
                FoodHigh.club is a vision of a healthy, fun cannabis lifestyle COMMNUITY that creatively blends the dopemine worlds
                of great food and awesome cannabis meal enhancing experiences.

              </h6>

              <h6 class="font_2 text-white p-2" style="line-height:33px">
                Imagine getting a gift, a mystery box surprise delivered with your next meal order. Delivered by a FoodHigh club member with your best meal experience in mind.

              </h6>
              <h6 class="font_2 text-white p-2" style="line-height:33px">
                Your gift (mystery box) could contain, tickets to awesome events, coupons to restaurants, CBD products and or CBD product samples, cannabis flowers and other cannabis lifestyle excessories.

              </h6>
              <h6 class="font_2 text-white p-2" style="line-height:33px">
                This vision for a  unique cannabis lifestyle community includes an economic model, where community members earn money. Either by curating mystery boxes or recommending awsome meal experiences.

              </h6>
<div class='embed-container'><iframe src='https://www.youtube.com/embed/YiInBqrPT1c' frameborder='0' allowfullscreen></iframe></div>
            </nb-card-body>
          </nb-card>

        </div>
      </div>
    </nb-layout-column>
  </nb-layout>

</ion-content>
