@import '../../themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/dist/css/bootstrap.css';

:host ::ng-deep {
  display: block;

  .menu-items,
  .menu-item > .menu-items {
    list-style-type: none;
    overflow: hidden;
  }

  .menu-item a {
    display: flex;
    color: inherit;
    text-decoration: none;
    align-items: center;

    .menu-title {
      flex: 1 0 auto;
      color:#fff;
      @include nb-rtl(text-align, right);
    }
  }

  .menu-group span {
    display: flex;
  }
}
.font_1{
  font-family: 'Exo', sans-serif;
}
.font_2{
  font-family: 'Didact Gothic', sans-serif;
}
.font_3{
  font-family: 'Architects Daughter', cursive;
}
.font_4{
  font-family: 'Coiny', cursive;
}
.font_b{
  font-family: 'K2D', sans-serif;
}
