.font_1{
  font-family: 'Exo', sans-serif;
}
.font_2{
  font-family: 'Didact Gothic', sans-serif;
}
.font_3{
  font-family: 'Architects Daughter', cursive;
}
.text-center{
  text-align: center;

}
.white{
  color:#fff
}
