<ion-content>
  <nb-layout center class="own-scroll">
    <nb-layout-header fixed>
      <nb-actions>
        <nb-action  routerLink="/home"><nb-icon class="fas fa-igloo" status="danger" [options]="{ animation: { type: 'zoom' } }"></nb-icon></nb-action>
        <nb-action [nbContextMenu]="curators" right  status="info"><nb-icon class="fas fa-hat-wizard" status="warning" [options]="{ animation: { type: 'zoom' } }"></nb-icon></nb-action>
        <nb-action [nbContextMenu]="curators" right  status="info"><nb-icon class="fas fa-gifts" status="info"[options]="{ animation: { type: 'zoom' } }"></nb-icon></nb-action>
        <nb-action [nbContextMenu]="curators" right  status="info" *ngIf="user_id"><nb-icon class="fas fa-user-astronaut" status="danger"[options]="{ animation: { type: 'zoom' } }"></nb-icon></nb-action>

      </nb-actions>
    </nb-layout-header>
    <nb-layout-column class="p-0">

        <div class="row">
          <div class="col-sm-12">
            <nb-card style="background-image: linear-gradient(135deg, #ABDCFF 0%, #0396FF 100%);">
              <nb-card-body class="pt-4 mt-4 mb-4">
                  <h4 class="text-center font_1 white">share your meal</h4>
                  <h6 class="font_1 text-center white pt-2 mb-4">You will earn money (bitcoin), when club members order your meal experience</h6>
                  <div  class="text-center mt-3 pt-3">
                    <input type="text" nbInput fullWidth fieldSize="giant" placeholder="restaurant name">
                    </div>
              </nb-card-body>
            </nb-card>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <nb-card>
              <nb-card-body class="p-2">

              </nb-card-body>
            </nb-card>

          </div>
        </div>


    </nb-layout-column>
  </nb-layout>

</ion-content>
